  <header> 
    <div class="row">
      <div class="large-12 columns">
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon">
              <a href=""><span></span></a>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="left">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Purchase</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </header>